
<% if(infoPage === true) { %>
    <button id="topBtn" title="Go to top"><img src="/img/top-btn-light.svg"></img></button>
<% } else { %>
    <button id="topBtn" title="Go to top"><img src="/img/top-btn.svg"></img></button>
<% } %>


<footer class="footer">
        <img src="/img/no-outline-logo.png" alt="J3LwebDesign logo with no border" class="footer__logo">
        <a href="tel:1-361-462-1904" class="footer__phone u-phone">361-462-1904</a>
        <p class="footer__email">Info@J3LwebDesign.com</p>
        
        <ul class="footer__list">
            <li class="footer__list-item"><a href="/">Home</a></li>
            |
            <li class="footer__list-item"><a href="/products">Products</a></li>
            |
            <li class="footer__list-item"><a href="/portfolio">Portfolio</a></li>
            |
            <li class="footer__list-item"><a href="/hire">Inquiries</a></li>
        </ul>
        
        <p class="footer__copyright">&copy; 2019 J3L webDesign</p>
        
        <div class="footer__terms-and-conditions">
            <a href="/information#info-terms-section">Terms and Conditions</a>
            |
            <a href="/information#info-requirements-section">Client Requirements</a>
        </div>
    </footer>
    
    
    <script type="text/javascript" src="/javascript/dist/main.bundle.js"></script>
</body>
</html>