<% include ./partials/head %>

    <header class="header header--standard">
       <% include ./partials/navbar %>
        
        <span class="u-absCenter-md">
            <h1 class="header__title">
                Products and Services
            </h1>
            
            <p class="header__text">
                We take the time to get to know your business and make sure you're not getting anything less, or more, than you need.
                Take a look at our pricing and what we offer, and let’s get started. If you have a question, feel free to reach out to us and we will be more than happy to help you.
            </p>
            <a href="#" class="btn btn--scroll">Scroll to See More</a>
        </span>
    </header>
    
    <section class="product product--dark">
            <div class="row">
                <div class="u-float-left details">
                    <h2 class="product__title">
                        Simple: $750
                    </h2>
                    
                    <p class="product__text">
                        Our Simple tier is perfect for small businesses that need a streamlined, custom online option to reach customers and display more information than through social media alone. 
                    </p>
                    <p class="product__text">
                        The Simple tier is a single page design made specifically for your business. It features a slow-scroll navigation menu, a working contact form that syncs directly to your email and is focused on being mobile-friendly and cross-browser compatible. 
                    </p>
                    
                    <ul class="product__list">
                        <li class="product__list-item">Single page, brochure style site</li>
                        <li class="product__list-item">Built on the latest technologies</li>
                        <li class="product__list-item">Unlimited contact form submissions</li>
                        <li class="product__list-item">Add our Content Management service for only $250</li>
                    </ul>
                </div>
                <div class="u-float-right demo">
                    <img src="/img/Desktop image.png" alt="Computer monitor displaying website built by J3L webDesign" class="product__image">
                    
                    <div class="product__btn-container">
                        <a href="#" class="btn btn--mr">View Live Demo</a>
                        <a href="/information#info-simple" class="btn">View Full Product Detail</a>
                    </div>
                </div>
            </div>
        </section>
    
    <section class="product">
            <div class="row">
                <div class="u-float-right details">
                    <h2 class="product__title">
                        Standard: $1500
                    </h2>
                    
                    <p class="product__text">
                        The Standard tier goes one step further, offering up to five pages custom designed in the image of your brand. 
                    </p>
                    <p class="product__text">
                        This is ideal for medium or large businesses with multiple products or a large amount of information they need to get in front of current and potential customers.
                    </p>
                    
                    <ul class="product__list">
                        <li class="product__list-item product__list-item--dark">Up to five custom designed pages</li>
                        <li class="product__list-item product__list-item--dark">Extensively tested to optomize mobile performance</li>
                        <li class="product__list-item product__list-item--dark">Add our Content Management service for only $500</li>
                        <li class="product__list-item product__list-item--dark">Ask about adding custom widgets and mini-applications!</li>
                    </ul>
                </div>
                <div class="u-float-left demo">
                    <img src="/img/Desktop image dark.png" alt="Computer monitor displaying website built by J3L webDesign" class="product__image product__image--dark">
                    
                    <div class="product__btn-container">
                        <a href="#" class="btn btn--mr btn--dark">View Live Demo</a>
                        <a href="/information#info-standard" class="btn btn--dark">View Full Product Detail</a>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="product product--dark">
            <div class="row">
                <div class="u-float-left details">
                    <h2 class="product__title">
                        Premium: Starting at $3500*
                    </h2>
                    
                    <p class="product__text">
                        With the Premium tier, we go beyond a simple website and create something amazing. Let us bring your idea to life online. 
                    </p>
                    <p class="product__text">
                        Whether it’s a personal app to help manage your business, a subscription service or ecommerce store, we can find the solution that works for you.
                    </p>
                    
                    <ul class="product__list">
                        <li class="product__list-item">Ecommerce stores</li>
                        <li class="product__list-item">Small-scale social networking platforms</li>
                        <li class="product__list-item">Personal subscription platforms</li>
                        <li class="product__list-item">Content Managment service is free for premium tier products</li>
                    </ul>
                    
                    <div class="product__disclaimer">*Price will vary based upon scope and size of project. In some instances, recurring fees may be required.</div>
                </div>
                <div class="u-float-right demo">
                    <img src="/img/Desktop image.png" alt="Computer monitor displaying website built by J3L webDesign" class="product__image">
                    
                    <div class="product__btn-container">
                        <a href="#" class="btn btn--mr">View Live Demo</a>
                        <a href="/information#info-premium" class="btn">View Full Product Detail</a>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="services">
            <div class="row">
                <div class="u-float-left left-side">
                    <div class="addons">
                        <h3 class="services__title">
                            Content Managment Service
                        </h3>
                        
                        <p class="services__text">
                            With our Content Management (CM) service, we give you the tools to take control of your online presence and update your website in real time without having to learn WordPress or any other complicated website management software.
                        
                        <p class="services__text">
                            We will design a custom user experience tailored to your business and also offer live training on how to use the service. Prices for our CM service are scaled to your purchased tier, and also allow you to save money on our optional maintenance services.
                        </p>
                        
                        <ul class="services__list">
                            <li class="services__list-item">Simple: $250 additional</li>
                            <li class="services__list-item">Standard: $500 additional</li>
                            <li class="services__list-item">Premium: Free</li>
                        </ul>
                    </div>
                    <div class="requirements">
                        <h3 class="services__title">
                            Client Requirements and Responsibilities
                        </h3>
                        
                        <p class="services__text">
                            Clients are required to purchase their own domain names and pay all hosting fees. All content must be supplied by the client as J3L does not offer content creation services or copywriting at this time.
                        </p>
                        
                    </div>
                    <div class="services__btn-container u-hide-md">
                        <a href="/information#info-requirements-section" class="btn btn--sm btn--mr btn--dark">View Full Requirements</a>
                        <a href="/information#info-terms-section" class="btn btn--sm btn--dark">View Terms and Conditions</a>
                    </div>
                </div>
                <div class="u-float-right maintenance">
                    <h3 class="services__title">
                           Maintenance Services
                    </h3>
                    
                    <p class="services__text">
                        The internet is constantly changing and evolving, and what works perfectly today may no longer be supported in a year.
                    </p>
                    
                    <p class="services__text">
                     Our maintenance service keeps us involved in your website via server maintenance, bug fixes, regular data backups, and ensuring that your design and code base always stays up to date and performant for life. And as a bonus, when you sign up for our Content Management service, you can save over $250 each year. We also offer a la carte maintenance without a plan on a case by case pricing basis.
                    </p>
                    
                    <ul class="services__list">
                        <li class="services__list-item">With CM add on: $750 billed annually or $75/month</li>
                        <li class="services__list-item">Without CM: $1000 billed annually or $99/month</li>
                    </ul>
                </div>
                
                <div class="services__btn-container u-show-md">
                    <a href="#" class="btn btn--sm btn--mr btn--dark">View Full Requirements</a>
                    <a href="#" class="btn btn--sm btn--dark">View Terms and Conditions</a>
                </div>
                
            </div>
        </section>
        
        <section class="value">
            <div class="row">
                <div class="u-float-left cta">
                    <h2 class="cta__header">
                        We Make Products that Add Value
                    </h2>
                    
                    <div class="cta__text">
                        Your clients and customers are online, so that's where you have to be. DIY website builders leave you on your own, have a whole host of <a target="_blank" href="https://dispatch.moonfarmer.com/the-problem-with-generic-website-builders-and-why-custom-websites-are-worth-it-785186bde197" class="u-link">performance issues</a>, and offer a limited ability to customize your website.
                        And while social media is an effective tool for online marketing, it's scope and reach is still limited. In fact, privacy concerns and algorithm changes led to a daily decreese in time spent on Facebook by <a class="u-link" target="_blank" href="https://money.cnn.com/2018/01/31/technology/facebook-earnings/index.html">50 million hours</a> in 2018.
                    </div>
                    
                    <div class="cta__text">
                        When you make the decision to spend your hard earned money with J3L, we become your employee. Our success is directly linked to yours, and our only goal is to grow your business in a scalable, convenient, and client-focused manner. We build your website, for you, exactly the way you need it.
                    </div>
                    
                    <a href="/hire" class="btn btn--long">Get Started</a>
                </div>
                <div class="u-float-right">
                    <div class="value__logo">
                        <img src="/img/Logo White.png" alt="J3L webDesign logo in white border">
                    </div>
                </div>
            </div>
        </section>
    
    
    
<% include ./partials/footer %>      