//$color-primary: #33363b;
$primary-black: #000000;
$secondary-black: #33363B;
$primary-white: #F0F0F0;
$light-white: #FFF7F7;
$hover-gray-light: #A0A0A0;
$hover-gray-dark: #484848;



$box-shadow-1: 0 .8rem 1rem rgba(0,0,0,.3);
$box-shadow-2: 0 .4rem 1rem rgba(0,0,0,.3);
$box-shadow-3: 0 1rem 1rem rgba(0,0,0,.3);
$box-shadow-4: 0 .3rem 1rem rgba(0,0,0,.3);

//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 4rem;
$gutter-horizontal-medium: 5rem;
$gutter-horizontal-small: 6rem;